<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bookstore</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<body>
    <header>
        <h1 class="Centered">My Bookstore</h1>
    </header>
    <nav>
        <p>
            <button type="button" onclick="vNewAuthor();">New Author</button>
        </p>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <h5 style="text-align: center;">&copy; 2020- Me</h5>
    </footer>
</body>
</html>

